.content {
    max-width: 90%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    /* display: inline-block; */
    max-height: 64px;
    vertical-align: middle;
}

span.navbar-text {
    font-size: 36px;
    max-height: 64px;
    vertical-align: middle;
}