.icon {
    height: 25%;
    border-radius: 50%;
    border: 3px solid #343434;
    transition: 0.24s ease-in-out;
}

.icon:hover {
    opacity: 0.5;
}

.friendsList {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    border: 2px solid;
    border-radius: 15px;
    overflow: auto;
    white-space: nowrap;
    position: absolute;
    bottom: 2%;
    background-color: #CDCDCD;
}