.full-height-box {
    height: 85vh;
}

.title {
    text-align: center;
}

/* De textkleur van de inputfield */
#password_register:focus + label {
    color: #ffca28;
}
/* de underline van de inputfield*/
#password_register:focus {
    border-bottom: 1px solid #ffca28;
    box-shadow: 0 1px 0 0 #ffca28;
}

/* De textkleur van de inputfield */
#first_name_register:focus + label {
    color: #ffca28;
}
/* de underline van de inputfield*/
#first_name_register:focus {
    border-bottom: 1px solid #ffca28;
    box-shadow: 0 1px 0 0 #ffca28;
}

/* De textkleur van de inputfield */
#last_name_register:focus + label {
    color: #ffca28;
}
/* de underline van de inputfield*/
#last_name_register:focus {
    border-bottom: 1px solid #ffca28;
    box-shadow: 0 1px 0 0 #ffca28;
}

/* De textkleur van de inputfield */
#confirm_password_register:focus + label {
    color: #ffca28;
}
/* de underline van de inputfield*/
#confirm_password_register:focus {
    border-bottom: 1px solid #ffca28;
    box-shadow: 0 1px 0 0 #ffca28;
}

/* De textkleur van de inputfield */
#email_register:focus + label {
    color: #ffca28;
}
/* de underline van de inputfield*/
#email_register:focus {
    border-bottom: 1px solid #ffca28;
    box-shadow: 0 1px 0 0 #ffca28;
}

/* De textkleur van de inputfield */
#password:focus + label {
    color: #ffca28;
}
/* de underline van de inputfield*/
#password:focus {
    border-bottom: 1px solid #ffca28;
    box-shadow: 0 1px 0 0 #ffca28;
}

/* De textkleur van de inputfield */
#email_login:focus + label {
    color: #ffca28;
}
/* de underline van de inputfield*/
#email_login:focus {
    border-bottom: 1px solid #ffca28;
    box-shadow: 0 1px 0 0 #ffca28;
}
