.friendsList {
    text-align: center;
    font-size: 2%;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    border: 2px solid;
    border-radius: 15px;
    position: absolute;
    bottom: 2%;
    background-color: #ffca28;
}

.friends {
    margin-left: 1.8%;
    margin-right: 1.8%;
    overflow: auto;
    white-space: nowrap;
}

.friendsList1 {
    overflow: hidden;
    text-align: center;
    font-size: 2%;
    margin-left: 70%;
    margin-right: 70%;
    width: 25%;
    border: 2px solid;
    border-radius: 15px;
    position: absolute;
    bottom: 70%;
    background-color: #ffca28;
}

.friends1 {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}
