span {
    text-align: center;
}

p {
    text-align: center;
}

.pageSection{
    width: auto;
    height: 80vh;
    margin-top: 0px !important;
    /*background-color: #ffecb3;*/
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    vertical-align: middle;
    position: relative;
}

.center-bottom{
    position: absolute;
    bottom: 1vh;
}


.employee-row{
    display: flex;
    justify-content: center;
    object-fit: cover;
    position: relative;
    top: 30vh;
}

.employee-row img{
    width: auto;
    height: 30vh;
    margin: 1vw;
}


img {
    object-fit: cover;
}

.floatingRegister{
    position: absolute;
    top: 20vh;
    right: 5vw;
}

.floatingWelcome{
    position: absolute;
    top: 30vh;
    right: 20vw;
}

.floatingLaptop{
    position: absolute;
    top: 40vh;
    left: 1vw;
}

#textPositionLP{
    position: absolute;
    top: 12vh;
    left: 12vw;
}

#textPositionQuote{
    position: absolute;
    top: 40vh;
    left: 15vw;
}

.resizeImage{
    max-width:50%;
    max-height:50%;
}


.marginRemover{
    margin-top: 0px !important;
}

.centerContent{
    top: 10vh;
    vertical-align: middle;
}