.challenge-box {
    border-radius: 15px;
}

.center-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}