.challenge-box {
    border-radius: 15px;
}

.center-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#openchallenges{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background: #FFFFFF;
    overflow: auto;
    height: 90%;
    /*top: 40%;*/
    /*top nu voor development, later verwijderen*/
}

#imgCH{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}