.challenge-box {
    width:20%; /* or whatever width you want. */
    max-width:20%; /* or whatever width you want. */
    height: 250px;
    max-height: 20%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}